<%- partial('_partial/banner') %>
<%- partial('_partial/menu' , {cate:page.category}) %>

<div class="wrapper index-wrapper">
    <ul class="container list-container">
    <%page.posts && page.posts.forEach(function(item){ %>
        <%- partial('_partial/post-i', {item: item}) %>
    <%})%>
    </ul>
</div>