body{
    margin: 0;
    font-family: "PingFang SC","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei",sans;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}
html , body{
    height: 100%;
}
.header-wrapper{
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 1px 2px #999;
}
.wrapper{
    width: 100%;
}
.wrapper::before,
.wrapper::after{
    clear: both;
    display: table;
    content: "";
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.sub-container{
    width: 960px;
    margin: 0 auto;
}
.container::before,
.container::after,
.sub-container::before,
.sub-container::after{
    clear: both;
    display: table;
    content: "";
}
.header-nav-wrapper{
    height: 100%;
    position: relative;
}

.logo{
    float: left;
    height: 100%;
    width: 200px;
    background: #fff;
}
.logo a{
    width: 100%;
    height: 100%;
    color: #03339e;
    text-decoration: none;
}
.logo a:hover,
.logo a:visited,
.logo a:acive{
    color: #03339e; 
    text-decoration: none;
}
.logo .title{
    margin: 0;
    padding: 0;
    line-height: 64px;
    user-select: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    box-sizing: border-box;
}
.nav-wrapper{
    float: right;
}
.nav-wrapper a{
    display: block;
    float: left;
    height: 100%;
    font-size: 18px;
    line-height: 20px;
    padding: 22px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}
.nav-wrapper a:hover{
    color: #fff;
    background-color: #6C62C7;
    text-decoration: none;
}
.nav-wrapper a:active,
.nav-wrapper a:visited{
    text-decoration: none;
}
.body-wrapper{
    min-height: 100%;
    box-sizing: border-box;
    padding: 64px 0 60px 0;
    position: relative;
}
.banner-wrapper{
    height: 250px;
    background: url(/images/bg_sm.png) repeat;
    background-color: #000;
}
.banner-container{
    height: 100%;
    background: url(/images/bg.png) no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.menu-wrapper{
    margin-top: 20px;
}
.menu-wrapper a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    padding: 10px 20px;
    float: left;
    transition: all .4s;
    margin-right: 10px;

}
.menu-wrapper a:lash-child{
    margin-right: 0;
}
.menu-wrapper a.active,
.menu-wrapper a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #6C62C7;
}
.list-container{
    padding: 0;
}
.post-i-wrapper{
    list-style: none;
    width: 280px;
    height: 240px;
    float: left;
    margin: 26px 26px 26px 0;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 6px #ccc;
    transition: all .2s;
}
.post-i-wrapper .post-i-link{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.post-i-wrapper:hover{
    box-shadow: 0px 0px 10px #000;
}
.post-i-wrapper .cover{
    width: 100%;
    height: 113px;
    overflow: hidden;
}
.post-i-wrapper .cover img{
    width: 100%;
    min-height: 100%;
}
.post-i-wrapper .title{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;
    color: #000;
}
.post-i-wrapper .subtitle{
    line-height: 22px;
    text-indent: 28px;
    font-size: 14px;
    font-weight: 400;
    max-height: 44px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 10px;
    color: #666;
    margin: 0;
}
.post-i-wrapper .time{
    color: #999;
    font-size: 12px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    text-align: left;
}
.post-banner{
    height: 400px;   
    background-color: #6C62C7;
}
.post-banner-container{
    height: 100%;
    background: url(/images/bg_post.png) no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.post-banner-container .title{
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    margin-top: 160px;
    font-weight: 500;
    color: #fff;
}
.post-banner-container .tips {
    text-align: center;
    color: #D8D8F6;
}
.post-banner-container .tips a{
    color: #D8D8F6;
    text-decoration: none;
    transition: all .4s;
}
.post-banner-container .tips a:hover{
    color: #3A2BB4;
    text-decoration: underline;
}
.post-content {
    box-sizing: border-box;
    padding: 20px 10px;
    line-height: 1.8;
}
.post-content ul,
.post-content ol{
    box-sizing: border-box;
    padding: 20px 10px;
    margin: 0;
}
.post-content table{
    border-spacing: 0;
    border-collapse: collapse;
    -ms-word-break: break-all;
    word-break: break-all;
}
.post-content table th{
    background: #eee;
    padding: 4px;
    border: 1px solid #999;
}
.post-content table td{
    border: 1px solid #999;
    padding: 4px;
}
.post-content li{
    font-weight: 500;
    line-height: 2;
    color: #333;
    -ms-word-break: break-all;
    word-break: break-all;
    list-style-position: inside;
}
.post-content p{
    -ms-word-break: break-all;
    word-break: break-all;
}
.gitalk-wrapper{
    padding: 20px 10px;
    box-sizing: border-box;
}
.footer-wrapper{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
    background: #efefef;
    box-sizing: border-box;
    padding: 20px 0;
    box-shadow: 0px 0px 2px #bbb;
}
.copyright{
    font-size: 14px;
    vertical-align: middle;
}
.btn-menu {
    display: none;
    float: right;
    width: 64px;
    height: 64px; 
}
.btn-menu .inner {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; 
}
.btn-menu .inner .line {
    top: 30px;
    left: 22px;
    position: absolute;
    width: 20px;
    height: 3px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: #000; 
}
.btn-menu .inner .line-01 {
    margin-top: -7px; 
}
.btn-menu .inner .line-03 {
    margin-top: 7px; 
}
.btn-close .line-01 {
    -webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
    transform: rotate(45deg) translate3d(5px, 5px, 0); 
}
.btn-close .line-03 {
    -webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    transform: rotate(-45deg) translate3d(5px, -5px, 0); 
}
.btn-close .line-02 {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0); 
}
.mb-nav-wrapper{
    position: absolute;
    top: 64px;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 1px 2px #999;
    display: none;
}
.mb-nav-wrapper.show{
    display: block;
}
.mb-nav-container a{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    user-select: none;
}
.tips-top-wrapper{
    width: 40px;
    height: 40px;
    background: #d4d4d4;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: all .4s;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}
.tips-top-wrapper:hover{
    background: #000;
  }
.tip-top-container{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 48px;
  position: relative;
}
.tip-top-container span{
  width: 2px;
  height: 16px;
  background: #fff;
  display: block;
  position: absolute;
}
.tip-top-container .l-bar{
  transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  left: 14px;
  top: 12px;
}
.tip-top-container .r-bar{
  transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  left: 25px;
  top: 12px;
}
/****************************/

@media screen and (min-width: 901px) and (max-width: 1400px){
    .container,
    .sub-container{
        width: 892px;
    }
    .post-i-wrapper{
        margin: 26px 26px 26px 0;
    }
    .post-i-wrapper:nth-child(3n){
        margin-right: 0;
    }
}
@media screen and (min-width: 769px) and (max-width: 900px){
    .container,
    .sub-container{
        width: 586px;
    }
    .post-i-wrapper{
        margin: 26px 26px 26px 0;
    }
    .post-i-wrapper:nth-child(2n){
        margin-right: 0;
    }
    .nav-wrapper a{
        padding: 22px 12px;
    }
    .menu-wrapper a{
        padding: 10px 8px;
    }
    .post-banner-container .title{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px){
    .container,
    .sub-container{
        width: 100%;
    }
    .list-container{
        box-sizing: border-box;
        padding: 10px 2px;
    }
    .post-i-wrapper{
        height: 320px;
        width: 100%;
        margin: 26px 0;
    }
    .post-i-wrapper .cover{
        height: 193px;
    }
    .logo .title{
        padding: 0 10px;
    }
    .nav-wrapper{
        display: none;
    }
    .logo{
        width: 140px;
    }
    .btn-menu{
        display: block;
    }
    .post-banner{
        height: 200px;
    }
    .post-banner-container .title{
        margin-top: 80px;
        font-size: 18px;
        line-height: 24px;
    }
    .post-banner-container .tips{
        font-size: 12px;
    }
    .post-content{
        font-size: 14px;
    }
    .menu-wrapper{
        box-sizing: border-box;
        padding: 0 10px;
    }
    .menu-wrapper a{
        padding:  8px;
        font-size: 14px;
    }
}

@media screen and ( min-width:1401px){
    .post-i-wrapper{
        margin: 26px 26px 26px 0;
    }
    .post-i-wrapper:nth-child(4n){
        margin-right: 0;
    }
}

