<%
    var year = (new Date()).getFullYear();
%>
<div class="tips-top-wrapper">
    <span class="tip-top-container" onclick="scrollToWindowTop()">
        <span class="l-bar"></span>
        <span class="r-bar"></span>
    </span>
</div>
<footer class="wrapper footer-wrapper">
    <div class="container"><span class="copyright">&copy; <%=year%> <%=config.copyright%>. All Rights Reserved.</span></div>
</footer>