<div class="wrapper header-wrapper">
    <div class="container header-nav-wrapper">
        <div class="logo"><a href="/"><h1 class="title">Jin</h1></a></div>
        <div class="nav-wrapper">
            <% for (var i in cates){%>
                <a href="<%- url_for(cates[i])%>"><%=i%></a>
            <%}%>
        </div>
        <span class="btn-menu" id="J_header_menu">
            <div class="inner">
                <span class="line line-01"></span>
                <span class="line line-02"></span>
                <span class="line line-03"></span>
            </div>
        </span>
        <div class="wrapper mb-nav-wrapper" id="J_header_menu_list">
            <div class="wrapper mb-nav-container">
                <% for (var i in cates){%>
                    <a href="<%- url_for(cates[i])%>"><%=i%></a>
                <%}%>
            </div>
        </div>
    </div>
</div>