<section class="wrapper main-wrapper">
    <article class="sub-container post-content">
        <%-page.content%>
    </article>
    <div class="sub-container gitalk-wrapper" id="gitalk-container"></div>
</section>